*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.heading{
    display: flex;
    justify-content: center;
}

.main{
    display: flex;
    justify-content: space-evenly;
}

.container{
    background-color: grey;
    margin: 10px ;
    padding: 10px;
    border: 2px solid black;
}

.head{
    margin-top: -10px;
    margin-right: -10px;
    margin-bottom: 10px;
    border-bottom: 2px solid black;
    border-left: 2px solid black;
    padding: 2% 20%;
    text-align: center;
    float: right;
}

.head.one{
    background-color: crimson;
}

.head.two{
    background-color: indigo;
}

.head.three{
    background-color: darkgoldenrod;
}

.content{
    clear: right;
}
